@keyframes scroll {
    0%{
        transform: translateX(100%)
    }
    100%{
        transform: translateX(-100%)
    }
};

.animateScroll{
    display: inline-flex;
    animation: scroll 15s infinite;
}